*{
    font-family: sans-serif;
    max-width: 1200px;
}
body{
    background: rgb(230, 248, 178);
    margin: 40px;
}
h1{
    font-size: 64px;
    color: rgb(112, 78, 46);
}
h2{
    font-size: 25px;
    color: rgb(0,0,0,)
}
p1{
    font-size: 22px;
    color: rgb (91, 117, 83);
}
h3{
    font-size: 25px;
}
ul{
    font-size: 20ffpx;
}
h5{
   color : rgb(230, 248, 178);
}
p3{
    color :black;
    font-size: 15px;
    text-align: right;
}